/* CLEARFIX */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

/* LAYOUT */
root {
  display: block;
}

.search-btn {
  position: relative;
  left: -28px;
  top: 3px;
}

.home-content-slider {
  width: 890px;
}

.bc-slider-mask {
  overflow: hidden;
  position: relative;
}

.bc-slider-mask, .bc-slider-box {
  width: 890px;
  height: 335px;
}

.bc-slider-container {
  height: 335px;
  float: left;
}

.bc-slider-sidebar {
  width: 210px;
  height: 335px;
  background: #218ee8;
  float: right;
}

.slides-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.slides-list li {
  float: left;
}

.bc-slider-nav-container {
  width: 100%;
  text-align: center;
}

.bc-slider-nav-text {
  width: 40%;
  cursor: pointer;
  cursor: hand;
  margin-left: 20px;
  font-size: 1.5em;
}
