.adbox {
	position: fixed;
	width: 150px; height: 225px;
	top: 150px;
	left: 50%;
	margin-left: $contWidth - 400;
	background: #CCC;
}

.social-box {
	width: 90px;
	position: fixed;
	top: 150px;
	left: 50%;
	margin-left: -$contWidth + 325;
}

.social-list {
	list-style: none;
}

.social-item {
	text-indent: -9999px;
	width: 32px; height: 32px;
	margin-top: 10px;
}

.youtube {
	background: url('images/icons/social/youtube_dark.png');
}

.youtube:hover {
	background: url('images/icons/social/youtube_active.png');
}

.facebook {
	background: url('images/icons/social/facebook_dark.png');
}

.facebook:hover {
	background: url('images/icons/social/facebook_active.png');
}

.twitter {
	background: url('images/icons/social/twitter02_dark.png');
}

.twitter:hover {
	background: url('images/icons/social/twitter02_active.png');
}

.social-rss {
	background: url('images/icons/social/rss_dark.png');
}

.social-rss:hover {
	background: url('images/icons/social/rss_active.png');
}

.masthead {
	width: $contWidth;
	height: 185px;
	background: $BCblue;
}

#menu-main-menu {
	list-style: none;
	width: 100%;
	float: left;
	margin: 0 auto;
	font-size: 1.25em;
	padding: 0;
	border-bottom: 4px solid $BCblue;
}

#menu-main-menu li {
	float: left;
	margin-left: 20px;
	padding: 10px;
}

#menu-main-menu li:first-child {
	margin-left: 0;
}
