
/* LAYOUT */
root { 
	display: block;
}

.main-container {
	text-align: center;
}

.content-container {
	width: $contWidth;
	margin: 0 auto;
	text-align: left;
}

.search-btn {
	position: relative;
	left: -28px;
	top: 3px;
}

.channel-box {
	width: $fullWidth;
}

.channel-logo {
	float: left;
}

.channel-img {
	float: right;
	width: 633px;
	height: 225px;
	color: #FFF;
}

.primary-sidebar-container {
	width: $contWidth * 0.3;
	float: right;
}

.wp-post-image {
	width: 100%; height: 100%;
}

.page-content, .whats-new-container, .post-31 {
	width: $contWidth * 0.65;
	float: left;
	display: block;
}

.single-container, .page-single-container {
	width: $contWidth * 0.65;
	float: left;
	margin-right: -30%;
}

.more-box {
	font-size: 1.25em;
	color: $BCblue;
	float: right;
	padding: 20px;
}

.more-box a {

	color: $BCorange;

}

.more-box a:hover {

	color: $lightBCorange;

}

.more-box img {
	margin: -21px 0 0 15px;
	float: right;
}