
/* CLEARFIX */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* LAYOUT */
root { 
	display: block;
}

.main-container {
	width: 1200px;
	margin: 0 auto;
}

.content-container {
	width:  890px;
}

.search-btn {
	position: relative;
	left: -28px;
	top: 3px;
}