.home-tabs-container {

}

.home-tabs-nav {
	list-style: none;
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 60px;
	border-bottom: 3px solid $BCblue;
}

.home-tabs {
	float: left;
	width: 25%; height: 60px;
	text-indent: -9999px;
	//position: relative;
}

.inactive-home-tab {
	background: #FFF;
}

.inactive-home-tab:hover {
	background: #8cc1e5;
}

.active-home-tab {
	background: $BCblue;
}

.tab-container {
	width: 65px; height: 60px;
	margin: 0 auto;
}

.home-blog-tab {
	background: url('images/icons/blog_icon.png') no-repeat;
	background-position: -65px;
}

.home-videos-tab {
	background: url('images/icons/videos_icon.png') no-repeat;
}

.home-beard-play-tab {
	background: url('images/icons/beard_play_icon.png') no-repeat;
}

.home-writing-tab {
	background: url('images/icons/writing_icon.png') no-repeat;
}

.tabs-anchor {

}

#my-tooltip {
	position: absolute;
	background: red;
	width: 150px; height: 135px;
	z-index:9999;
}