.home-tabs-container {
	
}

.home-tabs-nav {
	list-style: none;
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 60px;
	border-bottom: 3px solid $BCblue;
}

.home-tabs {
	float: left;
	width: 25%; height: 60px;
	text-indent: -9999px;
}

.inactive-home-tab {
	background: #FFF;
}

.inactive-home-tab:hover {
	background: $lightBCblue;
}

.active-home-tab {
	background: $BCblue;
}

.tab-container {
	width: 65px; height: 60px;
	margin: 0 auto;
}

.home-blog-tab {
	background: url('images/icons/blog_icon.png') no-repeat;
	background-position: -65px;
}

.home-videos-tab {
	background: url('images/icons/videos_icon.png') no-repeat;
}

.home-beard-play-tab {
	background: url('images/icons/beard_play_icon.png') no-repeat;
}

.home-writing-tab {
	background: url('images/icons/writing_icon.png') no-repeat;
}

#my-tooltip {
	position: absolute;
	color: #DDD;
	font-size: 1.5em;
	z-index:9999;
 	text-shadow: 2px 2px 2px #3f3f3f;
    filter: dropshadow(color=#3f3f3f, offx=2, offy=2);
}

.tabs-single-container {
	width: $contWidth * 0.65;
	float: left;
	border-bottom: 2px solid $BCblue;
	padding-bottom: 50px;
}

.tabs {
	width: $contWidth * 0.65;
	float: left;
	margin-right: -$contWidth * 0.3;
}

.tabs-header {
	color: $BCorange;
	border-bottom: 5px solid $BCorange;
	font-size: 1.75em;
}