/*/////////////////////////
/// VIDEOS ARCHIVE ////////
/////////////////////////*/

.channel-container {
	float: left;
}

.channel-box {
	width: 1032px;
	background: blue;
}

.channel-logo {
	width: 385px; height: 225px;
	background: gray;
}

.channel-img {
	width: 633px; height: 225px;
}

.videos-box {
	width: 1032px;
}