body {
    background-color: #1280DB;
}
a {
    color: #FFA800;
    font-family: bandaregular;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #FFCF71;
}
.kid-bg {
    height: 755px;
    margin: 0 auto;
    width: 1329px;
}
.content {
    float: right;
    margin-right: 100px;
    margin-top: 390px;
    width: 460px;

}
.growing {
    clear: both;
    color: #FFFFFF;
    float: right;
    font-family: bandaregular;
    margin-right: 30px;
    margin-top: 5px;
    padding-bottom: 25px;
}
.email_container {
    position: relative;
    width: 100%;
}
.email_input {
    border: 0 solid #800000;
    border-radius: 35px 35px 35px 35px;
    float: right;
    height: 50px;
    margin-right: 5px;
    text-align: center;
    width: 350px;
}
.email_go {
    float: right;
    position: absolute;
    right: 5px;
    top: -6px;
}
.email_go:hover {
    cursor: pointer;
}
.check-container {
    color: #FFFFFF;
    float: left;
    font-family: bandaregular;
    padding-top: 85px;
    width: 100%;
}
.check-out {
    float: left;
    margin-left: 80px;
    margin-top: 24px;
}
.youtube-img {
    float: right;
    margin-right: -20px;
}
.email_container {
    float: right;  
}
.email_thanks, .email_exists_text {
    color: #FFFFFF;
    float: right;
    font-family: bandaregular;
    font-size: 16px;
    text-align: right;
}
.bold {
    font-size: 25px;
}
@font-face {
    font-family: "bandaregular";
    font-style: normal;
    font-weight: normal;
    src: url("fonts/bandaregular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/bandaregular-webfont.woff") format("woff"), url("fonts/bandaregular-webfont.ttf") format("truetype"), url("fonts/bandaregular-webfont.svg#bandaregular") format("svg");
}



/* ////////////////////////////////////////////////////// */
/* //////////// MEDIA QUIERIES /////////// */
/* ////////////////////////////////////////////////////// */

@media screen and (min-width: 1281px) {
    
    .kid-bg {
       width: 1329px; height: 755px;
    }
    .content {
        margin-right: 100px;
        margin-top: 390px;
    }
    .growing {
        margin-right: 30px;
        margin-top: 5px;
        padding-bottom: 25px;
    }
    .email_input {
        margin-right: 5px;
    }
    .email_go {
        right: 5px;
        top: -6px;
    }
    .check-container {
        padding-top: 85px;
    }
        
}

@media screen and (max-width: 1280px) {
    
    .kid-bg {
        height: 595px;
        width: 1043px;
    }
    .content {
        font-size: 14px;
        margin-right: 65px;
        margin-top: 310px;
    }
    .growing {
        padding-bottom: 20px;
    }
    .email_input {
        height: 40px; width: 300px;
        margin-right: 25px;
    }
    .email_go {
        right: 15px;

        width: 58px;
    }
    .check-container {
        float: right;
        margin-right: 0;
        margin-top: 75px;
        padding-top: 0;
    }

}

@media screen and (max-width: 1024px) {
    
     .kid-bg {
        height: 550px;
        width: 1002px;
    }
    .content {
        font-size: 12px;
        margin-right: 115px;
        margin-top: 270px;
    }
    .growing {
        padding-bottom: 25px;
    }
    .email_input {
        height: 40px; width: 300px;
        margin-right: 25px;
    }
    .email_go {
        right: 15px;

        width: 58px;
    }
    .check-container {
        float: right;
        margin-right: 0;
        margin-top: 75px;
        padding-top: 0;
    }
    .email_container {
        font-size: 16px; 
        margin-right:25px;
    }
    .email_thanks, .email_exists_text {
        font-size: 14px;
    }
    
}

@media screen and (max-width: 915px) {
    
    .kid-bg {
        height: 427px;
        width: 745px;

    }
    .content {
        font-size: 12px;
        margin-right: 50px;
        margin-top: 220px;

    }
    .growing {
        padding-bottom: 25px;
    }
    .email_input {
        height: 40px; width: 300px;
        margin-right: 25px;
    }
    .email_go {
        right: 15px;

        width: 58px;
    }
    .check-container {
        float: right;
        margin-right: 0;
        margin-top: 35px;
        padding-top: 0;
    }
    .email_container {
        font-size: 14px; 
        margin-right:10px;
        width: 350px;
    }

    .email_thanks, .email_exists_text {
        font-size: 12px;

        width: 100%;

    }
    
}

@media screen and (max-width: 750px) {
    
     .kid-bg {
        width: 480px; 
        margin-top: -30px;
        margin-left: auto;
        margin-right: auto;
    }
    .content {
        width: 320px;
        font-size: 8px;
        margin-top: 135px;
        margin-right: 0;
    }
    .growing {
        padding-bottom: 7px;
        margin-right: 60px;
    }
    .email_input {
        height: 30px; width: 190px;
        margin: 0 auto
    }
    .email_go {
        right: -15px;
        top: -3px;
        width: 40px;
    }
    .check-container {
        float: right;
        margin-right: 35px;
        margin-top: 10px;
        padding-top: 0;
    }
    .youtube-img {
        width: 140px;
        float: right;
    }
    .email_container {
        font-size: 10px; 
        margin-right:40px;
    }
    .email_thanks, .email_exists_text {
        font-size: 10px;
        width: 100%;
    }
    .bold {
        font-size: 18px;
    }
    
}

@media screen and (max-width: 440px) {
    
     .kid-bg {
        width: 320px;
        margin-top: -30px;
        margin-left: auto;
        margin-right: auto;
    }
    .content {
        width: 320px;
        font-size: 10px;
        margin-top: 340px;
        margin-right: 0;
    }
    .growing {
        padding-bottom: 10px;
        margin-right: 60px;
    }
    .email_input {
        height: 30px; width: 230px;
        margin: 0 auto;
    }
    .email_go {
        right: 0;
        top: -6px;
        width: 45px;
    }
    .check-container {
        float: right;
        margin-right: 0;
        margin-top: 0;
        padding-top: 0;
    }
    .youtube-img {
        width: 140px;
        float: left;
        margin-left: 80px;
    }
    .email_container {
        font-size: 10px; 
        margin-right:65px;
    }
    .email_thanks, .email_exists_text {
        font-size: 10px;
    }
    
}