body {
  font-family: arial;
}

/* CLEARFIX */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

/* LAYOUT */
root {
  display: block;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.content-container {
  width: 890px;
}

.search-btn {
  position: relative;
  left: -28px;
  top: 3px;
}

.channel-box {
  width: 1024px;
}

.channel-logo {
  float: left;
}

.channel-img {
  float: right;
  width: 633px;
  height: 225px;
  color: #FFF;
}

.home-content-slider {
  width: 890px;
  position: relative;
}

.bc-slider-mask {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.bc-slider-mask, .bc-slider-box {
  width: 890px;
  height: 335px;
}

.bc-slider-container {
  height: 335px;
  float: left;
}

.bc-slider-sidebar {
  width: 315px;
  height: 335px;
  background: rgba(0, 0, 0, 0.55);
  float: right;
  color: #FFF;
  text-align: center;
}

.bc-slider-sidebar img {
  margin-top: 25px;
}

.bc-slider-sidebar p {
  padding: 0 20px;
}

.bc-slider-sidebar > button {
  background: #218ee8;
  border: none;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  color: #FFF;
  font-size: 1.3em;
  margin-top: 35px;
}

.bc-slider-sidebar > button:hover {
  background: #229bff;
}

.slides-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.slides-list li {
  float: left;
}

.bc-slider-nav-container {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 290px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  font-size: 1.5em;
}

.bc-slider-nav-text {
  width: 40%;
  cursor: pointer;
  cursor: hand;
  margin-left: 20px;
  font-size: 1.5em;
}
