body {
  font-family: arial;
}

/* CLEARFIX */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

/* LAYOUT */
root {
  display: block;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.content-container {
  width: 890px;
  margin: 0 auto;
}

.search-btn {
  position: relative;
  left: -28px;
  top: 3px;
}

.channel-box {
  width: 1024px;
}

.channel-logo {
  float: left;
}

.channel-img {
  float: right;
  width: 633px;
  height: 225px;
  color: #FFF;
}

.social-box {
  width: 90px;
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -545px;
}

.social-list {
  list-style: none;
}

.social-item {
  text-indent: -9999px;
  width: 32px;
  height: 32px;
}

.youtube {
  background: url("images/icons/social/youtube_dark.png");
}

.youtube:hover {
  background: url("images/icons/social/youtube_active.png");
}

.facebook {
  background: url("images/icons/social/facebook_dark.png");
}

.facebook:hover {
  background: url("images/icons/social/facebook_active.png");
}

.twitter {
  background: url("images/icons/social/twitter02_dark.png");
}

.twitter:hover {
  background: url("images/icons/social/twitter02_active.png");
}

.social-rss {
  background: url("images/icons/social/rss_dark.png");
}

.social-rss:hover {
  background: url("images/icons/social/rss_active.png");
}

.masthead {
  width: 890px;
  height: 185px;
  background: #218ee8;
}

.home-content-slider {
  width: 890px;
  position: relative;
}

.bc-slider-mask {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.bc-slider-mask, .bc-slider-box {
  width: 890px;
  height: 335px;
}

.bc-slider-container {
  height: 335px;
  float: left;
}

.bc-slider-sidebar {
  width: 315px;
  height: 335px;
  background: rgba(0, 0, 0, 0.55);
  float: right;
  color: #FFF;
  text-align: center;
}

.bc-slider-sidebar img {
  margin-top: 25px;
}

.bc-slider-sidebar p {
  padding: 0 20px;
}

.bc-slider-sidebar > button {
  background: #218ee8;
  border: none;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  color: #FFF;
  font-size: 1.3em;
  margin-top: 35px;
}

.bc-slider-sidebar > button:hover {
  background: #229bff;
}

.slides-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.slides-list li {
  float: left;
}

.bc-slider-nav-container {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 290px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  font-size: 1.5em;
}

.bc-slider-nav-text {
  width: 40%;
  cursor: pointer;
  cursor: hand;
  margin-left: 20px;
  font-size: 1.5em;
}

.channel-container {
  float: left;
}

.channel-box {
  width: 1032px;
  background: blue;
}

.channel-logo {
  width: 385px;
  height: 225px;
  background: gray;
}

.channel-img {
  width: 633px;
  height: 225px;
}

.videos-box {
  width: 1032px;
}

.home-tabs-nav {
  list-style: none;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 60px;
  border-bottom: 3px solid #218ee8;
}

.home-tabs {
  float: left;
  width: 25%;
  height: 60px;
  text-indent: -9999px;
}

.inactive-home-tab {
  background: #FFF;
}

.inactive-home-tab:hover {
  background: #8cc1e5;
}

.active-home-tab {
  background: #218ee8;
}

.tab-container {
  width: 65px;
  height: 60px;
  margin: 0 auto;
}

.home-blog-tab {
  background: url("images/icons/blog_icon.png") no-repeat;
  background-position: -65px;
}

.home-videos-tab {
  background: url("images/icons/videos_icon.png") no-repeat;
}

.home-beard-play-tab {
  background: url("images/icons/beard_play_icon.png") no-repeat;
}

.home-writing-tab {
  background: url("images/icons/writing_icon.png") no-repeat;
}

#my-tooltip {
  position: absolute;
  background: red;
  width: 150px;
  height: 135px;
  z-index: 9999;
}

.main-footer {
  display: inline-block;
}
