body {
  font-family: arial, sans serif;
  font-size: 16px;
  line-height: 18px;
}

a {
  color: #FF9C14;
  font-family: arial, sans serif;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #ffbe65;
}

/* LAYOUT */
root {
  display: block;
}

.main-container {
  text-align: center;
}

.content-container {
  width: 890px;
  margin: 0 auto;
  text-align: left;
}

.search-btn {
  position: relative;
  left: -28px;
  top: 3px;
}

.channel-box {
  width: 1024px;
}

.channel-logo {
  float: left;
}

.channel-img {
  float: right;
  width: 633px;
  height: 225px;
  color: #FFF;
}

.primary-sidebar-container {
  width: 267px;
  float: right;
}

.wp-post-image {
  width: 100%;
  height: 100%;
}

.page-content, .whats-new-container, .post-31 {
  width: 578.5px;
  float: left;
  display: block;
}

.single-container, .page-single-container {
  width: 578.5px;
  float: left;
  margin-right: -30%;
}

.more-box {
  font-size: 1.25em;
  color: #218ee8;
  float: right;
}

.more-box img {
  margin: 10px 0 0 10px;
  float: left;
}

.adbox {
  position: fixed;
  width: 150px;
  height: 225px;
  top: 150px;
  left: 50%;
  margin-left: 490px;
  background: #CCC;
}

.social-box {
  width: 90px;
  position: fixed;
  top: 150px;
  left: 50%;
  margin-left: -565px;
}

.social-list {
  list-style: none;
}

.social-item {
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  margin-top: 10px;
}

.youtube {
  background: url("images/icons/social/youtube_dark.png");
}

.youtube:hover {
  background: url("images/icons/social/youtube_active.png");
}

.facebook {
  background: url("images/icons/social/facebook_dark.png");
}

.facebook:hover {
  background: url("images/icons/social/facebook_active.png");
}

.twitter {
  background: url("images/icons/social/twitter02_dark.png");
}

.twitter:hover {
  background: url("images/icons/social/twitter02_active.png");
}

.social-rss {
  background: url("images/icons/social/rss_dark.png");
}

.social-rss:hover {
  background: url("images/icons/social/rss_active.png");
}

.masthead {
  width: 890px;
  height: 185px;
  background: #218ee8;
}

#menu-main-menu {
  list-style: none;
  width: 100%;
  float: left;
  margin: 0 auto;
  font-size: 1.25em;
  padding: 0;
  border-bottom: 4px solid #218ee8;
}

#menu-main-menu li {
  float: left;
  margin-left: 20px;
  padding: 10px;
}

#menu-main-menu li:first-child {
  margin-left: 0;
}

.home-content-slider {
  width: 890px;
  position: relative;
}

.bc-slider-mask {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.bc-slider-mask, .bc-slider-box {
  width: 890px;
  height: 335px;
}

.bc-slider-container {
  height: 335px;
  float: left;
}

.bc-slider-sidebar {
  width: 315px;
  height: 335px;
  background: rgba(0, 0, 0, 0.55);
  float: right;
  color: #FFF;
  text-align: center;
}

.bc-slider-sidebar img {
  margin-top: 25px;
}

.bc-slider-sidebar p {
  padding: 0 20px;
}

.bc-slider-sidebar > button {
  background: #218ee8;
  border: none;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  color: #FFF;
  font-size: 1.3em;
  margin-top: 35px;
}

.bc-slider-sidebar > button:hover {
  background: #229bff;
}

.slides-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

.slides-list li {
  float: left;
}

.bc-slider-nav-container {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 290px;
  color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  font-size: 1.5em;
}

.bc-slider-nav-text {
  width: 40%;
  cursor: pointer;
  cursor: hand;
  margin-left: 20px;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #666666;
  filter: dropshadow(color=#666666, offx=1, offy=1);
}

.channel-container {
  float: left;
}

.channel-box {
  width: 1032px;
  background: blue;
}

.channel-logo {
  width: 385px;
  height: 225px;
  background: gray;
}

.channel-img {
  width: 633px;
  height: 225px;
}

.videos-box {
  width: 1032px;
}

.home-tabs-nav {
  list-style: none;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 60px;
  border-bottom: 3px solid #218ee8;
}

.home-tabs {
  float: left;
  width: 25%;
  height: 60px;
  text-indent: -9999px;
}

.inactive-home-tab {
  background: #FFF;
}

.inactive-home-tab:hover {
  background: #8cc1e5;
}

.active-home-tab {
  background: #218ee8;
}

.tab-container {
  width: 65px;
  height: 60px;
  margin: 0 auto;
}

.home-blog-tab {
  background: url("images/icons/blog_icon.png") no-repeat;
  background-position: -65px;
}

.home-videos-tab {
  background: url("images/icons/videos_icon.png") no-repeat;
}

.home-beard-play-tab {
  background: url("images/icons/beard_play_icon.png") no-repeat;
}

.home-writing-tab {
  background: url("images/icons/writing_icon.png") no-repeat;
}

#my-tooltip {
  position: absolute;
  color: #DDD;
  font-size: 1.5em;
  z-index: 9999;
  text-shadow: 2px 2px 2px #3f3f3f;
  filter: dropshadow(color=#3f3f3f, offx=2, offy=2);
}

.tabs-single-container {
  width: 578.5px;
  float: left;
}

.tabs {
  width: 100%;
  float: left;
  margin-right: -267px;
}

.main-footer {
  width: 890px;
  display: inline-block;
  background: aqua;
}
